openapi: 3.0.0
info:
  title: Scraping API
  version: '1.0'
  description: API for web scraping services with usage tracking

servers:
  - url: https://scrapewell.com
    description: API Base URL

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        status_code:
          type: integer
          example: 400
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: The URL field is required

    UsageMetrics:
      type: object
      properties:
        # Note: Assuming structure based on common usage patterns
        credits_remaining:
          type: integer
          example: 1000
        total_requests:
          type: integer
          example: 150
        # Add other metrics as per your implementation

    ScrapeRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: url
          example: "https://example.com"
        block_ads:
          type: boolean
          example: true
        block_resources:
          type: boolean
          example: false
        cookies:
          type: string
          example: "session=123; user=john"
        location:
          type: string
          example: "US"
        advanced_proxy:
          type: boolean
          example: false
        js_rendering:
          type: boolean
          example: true
        device:
          type: string
          enum: [desktop, mobile]
          example: "desktop"
        transparent_status_code:
          type: boolean
          example: false
        wait:
          type: integer
          minimum: 0
          maximum: 20000
          example: 1000
        wait_for:
          type: string
          example: "#content"
        window_height:
          type: integer
          minimum: 1
          maximum: 10000
          example: 900
        window_width:
          type: integer
          minimum: 1
          maximum: 10000
          example: 1440
        rich_response:
          type: boolean
          example: true
        screenshot:
          type: boolean
          example: false
        screenshot_full_page:
          type: boolean
          example: false
        screenshot_selector:
          type: string
          example: ".main-content"
        session_id:
          type: integer
          example: 123
        timeout:
          type: integer
          minimum: 0
          maximum: 100000
          example: 30000

paths:
  /api/v1:
    get:
      summary: Scrape a webpage
      description: Scrapes a webpage with the specified parameters
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: url
          required: true
          schema:
            type: string
            format: url
          description: |
            The URL to scrape. Must be a valid HTTP/HTTPS URL.
            
            Examples:
            - https://example.com
            - https://mysite.com/page?id=123
            
            Note: URLs must be properly encoded.
        - in: query
          name: block_ads
          schema:
            type: boolean
          description: |
            When enabled, common ad networks and trackers will be blocked.
            This can significantly improve scraping performance and reduce bandwidth usage.
            
            Blocked content includes:
            - Google AdSense
            - DoubleClick
            - Common ad networks
            - Analytics trackers
        - in: query
          name: block_resources
          schema:
            type: boolean
          description: Whether to block resource loading
        - in: query
          name: cookies
          schema:
            type: string
          description: Cookies to be sent with the request
        - in: query
          name: location
          schema:
            type: string
          description: Geographic location for the request
        - in: query
          name: advanced_proxy
          schema:
            type: boolean
          description: Use advanced proxy (requires js_rendering)
        - in: query
          name: js_rendering
          schema:
            type: boolean
          description: |
            Enable full JavaScript rendering using a headless browser.
            Required for:
            - Single Page Applications (SPAs)
            - Dynamic content loading
            - Websites that require JavaScript
            
            Note: This option increases processing time and credit usage.
        - in: query
          name: device
          schema:
            type: string
            enum: [desktop, mobile]
          description: Device type to emulate
        - in: query
          name: transparent_status_code
          schema:
            type: boolean
          description: Return original status codes
        - in: query
          name: wait
          schema:
            type: integer
            minimum: 0
            maximum: 20000
          description: Time to wait in milliseconds
        - in: query
          name: wait_for
          schema:
            type: string
          description: Selector to wait for
        - in: query
          name: window_height
          schema:
            type: integer
            minimum: 1
            maximum: 10000
          description: Browser window height
        - in: query
          name: window_width
          schema:
            type: integer
            minimum: 1
            maximum: 10000
          description: Browser window width
        - in: query
          name: rich_response
          schema:
            type: boolean
          description: Include additional response data
        - in: query
          name: screenshot
          schema:
            type: boolean
          description: Take a screenshot
        - in: query
          name: screenshot_full_page
          schema:
            type: boolean
          description: Capture full page screenshot
        - in: query
          name: screenshot_selector
          schema:
            type: string
          description: Selector for screenshot area
        - in: query
          name: session_id
          schema:
            type: integer
          description: Session identifier
        - in: query
          name: timeout
          schema:
            type: integer
            minimum: 0
            maximum: 100000
          description: Request timeout in milliseconds
      responses:
        '200':
          description: Successful scrape
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    description: Scraping result data
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
        '500':
          description: Server Error

  /api/v1/usage:
    get:
      summary: Get API usage metrics
      description: Returns usage statistics for the authenticated user
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Usage metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageMetrics'
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests